body{
    font-family: 'Asap', sans-serif;
   
}
h1{
    font-size: 80px;
}
.top{

    text-align: center;
    color: white;
   
    background-image: url(images/donation13.jpg);
    
    width: auto;
    height: 500px;
    padding-top: 20px;

}
.top img{
    width: 100%;
}
.topp{
    font-size: 20px;
    font-weight: 700;
    padding: 10px 40px; 
    padding-left: 400px; 
    padding-right: 400px; 
}
.linkb{
    text-decoration: none;
   
    background-color: chocolate;
    color: white;
    font-weight: 700;
    padding: 10px 40px;
    border-radius: 5px;
}

.snd{
    text-align: center;
    padding-top: 150px;
}
.dd{

    text-align: center;
    color: white;
    width: auto;
    height: 150px;
    padding-top: 20px;
    display:list-item;
}
.trd{
    text-align: center;
    color: rgb(0, 0, 0);
    width: auto;
    height: 100px;
    padding-top: 20px; margin-bottom: 200px;
}
.box{
    display: flex;
  
}
.fbox{
    background-color: aqua
}
.sbox{
    background-color: cornsilk;
   
}
.ebox{
    background-color: cornflowerblue;
}

.art{margin-top: 100px;
    display:flex;
    margin-bottom: 50px;
}
.wart{
    width: 60%;
    padding-left: 5%;
    padding-right: 10px;
}
.wart img{
    width: 70%;
}

.bmail{ background-color:antiquewhite;

}
.mail{margin-top: 300px;
    text-align: center;

    height: 100px;
    padding-top: 20px; margin-bottom: 80px;
      
}
.ft{
    font-family: 'Asap', sans-serif;
font-family: 'Lobster', cursive;
color: coral;
text-align: center;
font-size: 80px;
background-color: black;

}
.pf{
    text-align: center;
}